@model List<AddCourse>


<div class="container mt-5">
    <h2 style="text-align:center;margin-top:100px;font-weight:bold">Latest Courses and Videos</h2>
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
            @foreach (var item in Model)
            {
                <div class="card shadow-0 border rounded-3 mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="@item.CourseImage" class="w-100" />
                                    <a href="your-url.html">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>@item.CourseName</h5>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span>@item.InstructorName</span>
                                </div>
                                <p class="text-truncate mb-4 mb-md-0">
                                    @item.Descripation<br />
                                </p>
                            </div>

                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">Price</h4>
                                    <span class="text-danger">₹ @item.Price</span>
                                </div>
                                <h6 class="text-success">Special Offer</h6>
                                <div class="d-flex flex-column mt-4">
                                    <a asp-controller="Userdashboard" asp-action="SubCourseList"  asp-route-id="@item.CourseId" class="btn btn-warning">Course List</a>

                                    <button class="btn btn-outline-danger mt-2" type="button">Add to wishlist</button>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    
    </div>
