
@model List<AddCourse>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div style="margin-top: 200px"></div>
<div class="container">
    @foreach (var a in Model)
    {     
    <div class="row">
        <div class="col-md-7">
            <div class="project-info-box mt-0">
                <h5>COURSE DETAILS</h5>
                <p class="mb-0">
                   @a.Descripation
                </p>
            </div>

            <div class="project-info-box">
                <p><b>Course:</b> <span id="courseName" class="font-weight-bold" style="color: #ff8a00;">@a.CourseName</span></p>
                <p><b>Sub Course:</b> <span id="subCourseName" class="font-weight-bold" style="color: #dc3545;">@a.CourseName</span></p>
                <p><b>Level:</b> <span id="topicName" class="font-weight-bold" style="color: #ff8a00;">@a.Level</span></p>
                <p><b>Provider:</b> E-Learning</p>
                <p class="mb-0"><b>Price:</b> ₹ <span id="price" class="font-weight-bold" style="color: Green;">@a.Price</span></p>
            </div>

            <div class="project-info-box mt-2 mb-0">
                <p class="mb-0">
                    <span class="font-weight-bold mr-10 align-middle d-none d-md-inline">Share:</span>
                    <a class="btn text-white" data-mdb-ripple-init style="background-color: #3b5998;" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn text-white" data-mdb-ripple-init style="background-color: #55acee;" href="#!" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn text-white" data-mdb-ripple-init style="background-color: #c61118;" href="#!" role="button">
                        <i class="fab fa-pinterest"></i>
                    </a>
                    <a class="btn text-white" data-mdb-ripple-init style="background-color: #0082ca;" href="#!" role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-5">    
            <img src="@a.CourseImage" class="rounded" width="420" height="270" />
            <div class="project-info-box">
                <a> <input id="addToCart" asp-controller="Userdashboard" asp-action="AddToCart"  asp-route-id="@a.CourseId" class="btn btn-warning btn-block col-md-11 mt-3" type="submit" value="Add To Cart" /></a>
                <button class="btn btn-outline-danger mt-2 btn-block col-md-11" type="button">Add to Wishlist</button>
            </div>
        </div>
    </div>
    }
</div>
<div style="margin-top: 50px"></div>
