@using ElearningWithMvc.Migrations
@model List<AddCourse>

<style>
	.video_container {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%; /* 16:9 aspect ratio */
		height: 0;
	}

		.video_container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
</style>

<!-- Home -->

<div class="home">
	<div class="home_slider_container">

		<!-- Home Slider -->
		<div class="owl-carousel owl-theme home_slider">

			<!-- Slider Item -->
			<div class="owl-item">
				@* <!-- Background image artist https://unsplash.com/@benwhitephotography --> *@
				<div class="home_slider_background" style="background-image:url(/Content/images/index.jpg)"></div>
				<div class="home_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_content text-center">
									<div class="home_logo"><img src="~/Content/Images/home_logo.png" alt=""></div>
									<div class="home_text">
										<div class="home_title">Complete Online Courses</div>
										<div class="home_subtitle">Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar. Praesent vel nisl fermentum, gravida augue ut, fermentum ipsum.</div>
									</div>
									<div class="home_buttons">
										<div class="button home_button"><a href="About.aspx">learn more<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
										<div class="button home_button"><a href="allCourses.aspx">see all courses<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slider Item -->
			<div class="owl-item">
				@* <!-- Background image artist https://unsplash.com/@benwhitephotography --> *@
				<div class="home_slider_background" style="background-image:url(/Content/Images/index.jpg)"></div>
				<div class="home_container">
					<div class="container">
						
						<div class="row">
							<div class="col">
								<div class="home_content text-center">
									<div class="home_logo"><img src="~/Content/Images/logo.png" alt=""></div>
									<div class="home_text">
										<div class="home_title">Complete Online Courses</div>
										<div class="home_subtitle">Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar. Praesent vel nisl fermentum, gravida augue ut, fermentum ipsum.</div>
									</div>
									<div class="home_buttons">
										<div class="button home_button"><a href="#">learn more<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
										<div class="button home_button"><a href="#">see all courses<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slider Item -->
			<div class="owl-item">
				@* <!-- Background image artist https://unsplash.com/@benwhitephotography --> *@
				<div class="home_slider_background" style="background-image:url(/Content/Images/index.jpg)"></div>
				<div class="home_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_content text-center">
									<div class="home_logo"><img src="~/Content/images/home_logo.png" alt=""></div>
									<div class="home_text">
										<div class="home_title">Complete Online Courses</div>
										<div class="home_subtitle">Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar. Praesent vel nisl fermentum, gravida augue ut, fermentum ipsum.</div>
									</div>
									<div class="home_buttons">
										<div class="button home_button"><a href="#">learn more<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
										<div class="button home_button"><a href="#">see all courses<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Courses -->
<div class="container mt-5">
        <h2 style="text-align:center;margin-top:40px;font-weight:bold">Latest Courses and Videos</h2>
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
			@foreach (var item in Model)
                {
                    <div class="card shadow-0 border rounded-3 mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
									<img src="@item.CourseImage" class="w-100" />
                                        <a href="your-url.html">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
								<h5>@item.CourseName</h5>
                                    <div class="mt-1 mb-0 text-muted small">
									<span>@item.InstructorName</span>
                                    </div>
                                    <p class="text-truncate mb-4 mb-md-0">
									@item.Descripation<br />
                                    </p>
                                </div>
                                
                                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                        <div class="d-flex flex-row align-items-center mb-1">
                                            <h4 class="mb-1 me-1">Price</h4>
                                            <span class="text-danger">₹ @item.Price</span>
                                        </div>
                                        <h6 class="text-success">Special Offer</h6>
                                        <div class="d-flex flex-column mt-4">
									<a asp-controller="Userdashboard" asp-action="SubCourseList" asp-route-courseName="@item.CourseName" class="btn btn-warning">Course List</a>

                                            <button class="btn btn-outline-danger mt-2" type="button">Add to wishlist</button>
                                        </div>
                                    </div>
                              
                                   
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="button home_button" style="margin-left:550px;margin-bottom:50px">
            <a asp-controller="Userdashboard" asp-action="AllCourse">See All Courses
                <div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </a>
        </div>
    </div>





<!-- Milestones -->

<div class="milestones">
	@* <!-- Background image artis https://unsplash.com/@thepootphotographer --> *@
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="~/Content/images/milestones.jpg" data-speed="0.8"></div>
	<div class="container">
		<div class="row milestones_container">

			<!-- Milestone -->
			<div class="col-lg-3 milestone_col">
				<div class="milestone text-center">
					<div class="milestone_icon"><img src="~/Content/images/milestone_1.svg" alt=""></div>
					<div class="milestone_counter" data-end-value="1548">0</div>
					<div class="milestone_text">Online Courses</div>
				</div>
			</div>

			<!-- Milestone -->
			<div class="col-lg-3 milestone_col">
				<div class="milestone text-center">
					<div class="milestone_icon"><img src="~/Content/images/milestone_2.svg" alt=""></div>
					<div class="milestone_counter" data-end-value="7286">0</div>
					<div class="milestone_text">Students</div>
				</div>
			</div>

			<!-- Milestone -->
			<div class="col-lg-3 milestone_col">
				<div class="milestone text-center">
					<div class="milestone_icon"><img src="~/Content/images/milestone_3.svg" alt=""></div>
					<div class="milestone_counter" data-end-value="257">0</div>
					<div class="milestone_text">Teachers</div>
				</div>
			</div>

			<!-- Milestone -->
			<div class="col-lg-3 milestone_col">
				<div class="milestone text-center">
					<div class="milestone_icon"><img src="~/Content/images/milestone_4.svg" alt=""></div>
					<div class="milestone_counter" data-end-value="39">0</div>
					<div class="milestone_text">Countries</div>
				</div>
			</div>

		</div>
	</div>
</div>







<!-- Video -->
<h1 style="text-align:center;margin:40px 0px">Watch us to Know More</h1>
<div class="video">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="video_container_outer">
					<div class="video_container">
						<iframe id="vid1" src="https://www.youtube.com/embed/KLOcj5qvOio?autoplay=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Join -->

<div class="join">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="section_title text-center"><h2>Join Our Platform Today</h2></div>
				<div class="section_subtitle">Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut</div>
			</div>
		</div>
	</div>
</div>


