@using ElearningWithMvc.Models
@model List<CourseVideo>




<div class="container">
    <h2 style="text-align:center;margin-top:200px;font-weight:bold">My Courses and Videos</h2>
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
            <form method="post">
                @foreach (var item in Model)
                {
                    <div class="card shadow-0 border rounded-3 mb-4">
                        <div class="card-body">
                            <div class="row">
                                 <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="@item.SubCourseImage" class="w-100" />
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5></h5>
                                    <input type="hidden" id="SubCourseId" value="@item.SubCourseId" />
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>Course Name: @item.Subcourse</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>Description : @item.Description</span>
                                    </div>
                                </div>
                               
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    
                                    <div class="d-flex flex-column mt-4">
                                        <a asp-controller="Userdashboard" asp-action="WatchVideo" asp-route-id="@item.SubCourseId" class="btn btn-warning">Watch Now</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>
</div> 