@model ElearningWithMvc.Models.AllCourse

<div class="container">
    <h2 style="text-align:center;margin-top:200px;font-weight:bold">Latest Courses and Videos</h2>
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
            <form id="addToCartForm" method="post">
                        @foreach (var item in Model.AddSubCourse)
                        {
                <div class="card shadow-0 border rounded-3 mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="@Model.Course.First().CourseImage" class="w-100" />
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>@item.Subcourse</h5>
                                    <input type="hidden"  id="SubCourseId" value="@item.SubCourseId" />
                                <div class="mt-1 mb-0 text-muted small">
                                        <span>Instructor Name: @Model.Course.First().InstructorName</span>
                                </div> 
                            </div>

                             <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">Price</h4>
                                    <span class="text-danger">₹ @item.price</span>
                                    <input type="hidden" name="Price" id="price" value="@item.price" />
                                </div>
                                <div class="d-flex flex-column mt-4">
                                        <a asp-controller="Userdashboard" asp-action="ByNow" asp-route-id="@item.SubCourseId" class="btn btn-warning">Buy Now</a>
                                 <button class="btn btn-outline-danger mt-2" type="button">Add to wishlist</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                        }
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ajax.js"></script>
 